@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
    height: calc(100vh - 8em);
    padding: 4em;
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro', monospace;
    background-color: rgb(25,25,25);
}

.line-1 {
    position: relative;
    top: 50%;
    width: 660px;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 380%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 660px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255,255,255,.75);
    }

    to {
        border-right-color: transparent;
    }
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #191919;
}

*::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 5px;
    border: 5px none #ffffff;
}

button {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    border: transparent;
    background-color: transparent;
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    text-shadow: 0 0 10px white;
}

input {
    color: white;
    font-family: 'Anonymous Pro', monospace;
    border: transparent;
    border-bottom: solid;
    background-color: transparent;
    font-size: 30px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

input:hover {
    text-shadow: 0 0 10px white;
}

textarea {
    background-color: gray;
    font-size: 20pt;
    border-color: black;
    border-width: 2pt;
    color: white;
    border-radius: 10px;
}

textarea:hover {
    cursor: pointer;
}
